services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile_backend
    ports:
      - "3000:3000"
    depends_on:
      - db
    networks: 
      - backend_net
      - frontend_net


  frontend:
    build:
      context: .
      dockerfile: Dockerfile_frontend
    ports:
      - "3001:80"
    depends_on:
      - backend
    networks: 
      - frontend_net


  db:
    image: mysql:8.0.0
    container_name: db
    restart: always
    environment:
      MYSQL_DATABASE: appdb
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./db_init:/docker-entrypoint-initdb.d
    networks: 
      - backend_net

volumes:
  db_data:
networks: 
  backend_net:
  frontend_net: