node_modules
.terraform/
*.tfplan
*.tfstate
*.tfstate.*
*.plan
.terraform.lock.hcl
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
lib/
lib64/
include/
share/
bin/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
htmlcov/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints
*.log
env_*/
*.tar.gz
dist/
*.egg-info/
.aws-sam/
