<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
    <h1>Add New User</h1>
    <form method="POST">
        <label>Name:</label>
        <input type="text" name="name" required><br><br>
        <label>Email:</label>
        <input type="email" name="email" required><br><br>
        <input type="submit" value="Add User">
    </form>
    <br>
    <a href="{{ url_for('list_users') }}">View All Users</a>
    <br>
    <a href="{{ url_for('search_user') }}">Search User by ID</a>
</body>
</html>
