name: Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build static site
        run: |
          npm install
          npm run build

      - name: Deploy to GitHub Pages
        uses: actions/upload-pages-artifact@v3

      - name: Publish
        uses: actions/deploy-pages@v4
